# 1) Reverse

In [11]:
def reverse (str):
    l = ''
    for i in range(len(str)-1,-1,-1):
        l+=str[i]
    return (l)
reverse('soumik')

'kimuos'

# 2) Palindrome

In [1]:
def palindrome(str):
    l = ''
    for i in range(len(str)-1,-1,-1):
        l +=str[i]
    if str ==l:
        return('palindrome')
    else:
        return('not palindrome')
palindrome('madam')

'palindrome'

# 3) Find largest

In [1]:
def sec_largest(num):
    largest = float('-inf')
    sec_lar = float('-inf')
    for i in num:
        if i > largest:
            largest = i
            sec_lar = largest
        else:
            i > sec_lar 

largest([2,3,4,5,45,65,1,56,78,98,109])

109

In [3]:
def largest(num):
    lar = float('-inf')
    for i in num:
        if i > lar:
            lar = i
    return lar
largest ([2,3,4,5,45,65,1,56,78,98])

98

# 2nd largest

In [10]:
def second_largest(num):
    largest = float('-inf')
    sec_largest = float('-inf')
    for i in num:
        if i > largest:
            sec_largest = largest
            largest = i
        elif i > sec_largest and i != largest:
            sec_largest = i
        
    return sec_largest
      
second_largest([2,3,1,7,12,9,4,8,10,11])

11

# 4) Occurence

In [3]:
def occurence(num):
    d = {}
    for i in num:
        if i in d:
            d[i] += 1
        else:
            d[i] = 1
    return d
occurence([2,3,2,3,4,5,6,5,6,78,9,7,6])

{2: 2, 3: 2, 4: 1, 5: 2, 6: 3, 78: 1, 9: 1, 7: 1}

In [5]:

def duplicate(num):
    unique = set()
    dup =set()
    for i in num:
        if i in unique:
            dup.append(i)
        else:
            unique.append(i)
    return list(dup)
duplicate([2, 3, 2, 4, 5, 5, 3, 6, 7, 6, 8, 9])
print(dup)

AttributeError: 'set' object has no attribute 'append'

# 6) Duplicate

In [1]:
def duplicate(nums):
    seen = set()
    duplicates = set()
    
    for num in nums:
        if num in seen:
            duplicates.add(num)
        else:
            seen.add(num)
    
    return list(duplicates)

result = duplicate([2, 3, 2, 4, 5, 5, 3, 6, 7, 6, 8, 9])
print(result)

[2, 3, 5, 6]

# Prime check

In [6]:
def is_prime(n):
    if n<=1:
        return 'not applicable'
    for i in range(2,int(n**0.5)+1):
        if n % i == 0:
            return False
    else:
        return True
is_prime(19)

True

# 4) Anagram

In [10]:
def anagram(str1,str2):
    if len(str1) != len(str2):
        return ('not anagram')
    elif sorted (str1.lower()) == sorted(str2.lower()):
        return ('anagram')
    else:
        return('try again')
anagram ('listen','lsieny')

'try again'

# 5) Factorial

In [15]:
def factorial(n):
    if type(n) != int or n<0 :  # int Integers are whole numbers that can be positive, negative, or zero.
        return ('try again')
    elif n==0 or n==1 :
        return n
    else:
        fact = n * factorial (n-1)
    return (fact)
factorial(8.9)
factorial(4)
factorial(-9)

'try ageain'

In [15]:
def factorial(n):
    if n==1:
        return n
    else:
        fact = n *  factorial(n-1)
    return (fact)
factorial (6)

720

# 6) Rverse the order of words in a given sentence.

In [16]:
def reverse_sentence(sentence):
    words = sentence.split()   # kar upr base kore split hbe , seta split('') r por hbe,
    reversed_words = words[::-1]
    reversed_sentence =' '.join(reversed_words) # kar upr base kore join hbe , seta ('').join r age hbe
    return reversed_sentence
reverse_sentence('soumik is an excellent Python Developer')

'Developer Python excellent an is soumik'

# 7) Remove vowel

In [10]:
def remove_vowel(string):
    vowels = {'a', 'e', 'i', 'o', 'u'} #The characters in the set ('a', 'e', 'i', 'o', 'u') are lowercase,set handle both uppercase and lowercase vowels uniformly.
    result = ''                         # set allows for case-insensitive  
    for char in string:                 # set() rhis notation is used when convert a iterable to a set.
        if char not in vowels:
            result += char
    return result

# Example usage
print(remove_vowel('ahsjeiyt'))

hsjyt

# 11) Common list

In [2]:
def common_list(list1,list2):
    common = []
    for i in list1:
        if i in list2:
            common.append(i)
    return (common)
list1 = [1,3,4,5,7]
list2 = [3,1,2,6,5,7]
common_list(list1,list2)

[1, 3, 5, 7]

# 12) Anagram

In [7]:
def anagram(str1,str2):
    if len(str1) != len(str2) :
        return ('not anagram')
    else:
        sorted(str1.lower()) == sorted(str2.lower())
        return ('anagram')
    
str1 = 'listEn'    
str2 = 'siLten'
anagram (str1,str2)

'anagram'

# 14) Fibonacci sequence

In [3]:
def fibo_series(n):
    series =[0,1]
    for i in range (2,n):
        next_term = series[-1] + series [-2]
        series.append(next_term)
    return series
fibo_series(10)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

# 17) Find the intersection of two lists

In [6]:
def common (nums1,nums2):
    common_list = []
    for i in (nums1):
        if i in nums2 :
            common_list.append(i)
    return common_list

list1 = [2,3,4,5,6,0,7]
list2 = [9,7,8,5,4,3,3]
common (list1, list2)

[3, 4, 5, 7]

# Find the median of a list of numbers

In [7]:
def median(num):
    sorted_num = sorted(num)
    print(sorted_num)
    n = len(sorted_num)
    print(n)
    if n % 2 == 1:
        median = sorted_num [n //2]
    else:
        med1 = sorted_num[n//2]
        print(med1)
        med2 = sorted_num[n//2 -1]
        median = (med1 +med2)/2
    return median
median([1,9,3,7,5,14])

[1, 3, 5, 7, 9, 14]
6
7

6.0

# First non-repeating character in a string.

In [11]:
def non_repeat(str):
    for i in str:
        if i not in str[i+1:]:
            return str[i]
non_repeat('anaconda')  
def non_repeat(str1):
    for i in range(len(str1)):
        if str1[i] not in str1[i+1:]:
            return str1[i]

TypeError: can only concatenate str (not "int") to str

In [2]:
# super()

class A:
    def __init__(self):
        print('A init')
        super().__init__()
        
class B:
    def __init__(self):
        print('B init')
        super().__init__()
        
class C(B,A):
    def __init__(self):
        print('C init')
        super().__init__()
c = C() # here we are not calling __init__ method explicitely . ca as we create the instance of the class automatically __init__ was called 
#c.__init__()
'''Here Q may rise why super() is used in class A? cz above A there is no class, it is imp cz as I inherit class C(B,A) 
so the B class is parent of A '''

C init
B init
A init

In [3]:
#global
x = 10
def func():
    global x
    x = 20
    print(x)
func()
print(x)

20
20

In [7]:
# local
def func():
    y = 10
    print(y)
func()
print(y)

10

NameError: name 'y' is not defined

# To check if a given list is sorted in non-decreasing order.

In [55]:
def is_sorted(num):
    for i in range(len(num)-1):
        if num[i] > num[i+1]:
            return False
        else:
            True
is_sorted([2,3,4,3,2,3,4,5,6])

False

# To know the size/ storage

In [9]:
import sys
l =[]
print(sys.getsizeof(l))

56

In [8]:

t=()
print(sys.getsizeof(t))

40

# Scenario-9: Calculate the total revenue generated from purchases made by users in a specific city.

In [ ]:
total_rev = purchase.objects.filter(city = 'kolkata').aggregate(total_rev = models.Sum('amount'))['total_rev']

In [ ]:
total_revenue = purchases.objects.filter(city = 'New York').aggregate(total_revenue = models.Sum('amount'))['total_revenue']

class Purchase(models.Model):
    user = models.ForeignKey(User, on_delete=models.CASCADE)
    city = models.CharField(max_length=100)
    amount = models.DecimalField(max_digits=10, decimal_places=2)
    timestamp = models.DateTimeField(auto_now_add=True)
# SQL     
SELECT SUM(amount) AS total_revenue FROM Purchase;

In [ ]:
total_revenue = Purchase.objects.filter(user__profile__city=city).aggregate(total_revenue=models.Sum('amount'))['total_revenue']


'''['total_revenue']: Extracts the value associated with the total_revenue key from the dictionary returned by the aggregate 
method.
  user__profile__city=city: Uses double underscores (__) to follow relationships across models. This condition means that 
the query will only include purchases where the associated user's profile's city is "New York"'''

class Profile(models.Model):
    user = models.OneToOneField(User, on_delete=models.CASCADE)
    city = models.CharField(max_length=100)

class Purchase(models.Model):
    user = models.ForeignKey(User, on_delete=models.CASCADE)
    amount = models.DecimalField(max_digits=10, decimal_places=2)
    timestamp = models.DateTimeField(auto_now_add=True)

In [ ]:
users = purchase.objects.filter(is_active = True,users__date__gt = timezone.now() - timezone.timedelta(days = 30)).distinct()

# Scenario-8: Retrieve all active users who have made a purchase in the last month.

In [ ]:
users = Users.objects.filter(is_active = True,purchase__date__gte = timezone.now() - timezone.timedelta(days = 30)).distinct()

In [ ]:
from django.utils import timezone
from datetime import timedelta
from django.contrib.auth.models import User

one_month_ago = timezone.now() - timezone.timedelta(days=30)

active_users = User.objects.filter(is_active=True, purchase__date__gte=one_month_ago).distinct()

In [ ]:
# Dj- models

from django.db import models
from django.contrib.auth.models import User
from django.utils import timezone

class Purchase(models.Model):
    user = models.ForeignKey(User, on_delete=models.CASCADE)
    date = models.DateTimeField()
    amount = models.DecimalField(max_digits=10, decimal_places=2)
    
    
# SQL 
SELECT DISTINCT auth_user.*
FROM auth_user
INNER JOIN purchase ON auth_user.id = purchase.user_id
WHERE auth_user.is_active = TRUE
  AND purchase.date >= NOW() - INTERVAL '30 days';

INNER JOIN purchase ON auth_user.id = purchase.user_id: Joins the auth_user table with the purchase table on the condition that
the id column in auth_user matches the user_id column in purchase. This ensures we only consider users who have made a purchase.

# Retrieve all users who have not made any purchases yet.

In [ ]:
user_not_purchased = Users.objects.filter(purchase__isnull = True)

'''purchase__isnull=True: This checks for users who do not have any related Purchase records. It will correctly return all users
who have not made any purchases.
When I mentioned "no related Purchase objects," I meant that there are no entries in the Purchase table associated with the 
particular User object. This relationship is established through a foreign key field in the Purchase model that references the 
User model.'''

from django.db import models
from django.contrib.auth.models import User

class Purchase(models.Model):
    user = models.ForeignKey(User, on_delete=models.CASCADE)
    date = models.DateTimeField()
    amount = models.DecimalField(max_digits=10, decimal_places=2)

    # SQL
    
    SELECT auth_user.*
FROM auth_user
LEFT JOIN purchase ON auth_user.id = purchase.user_id
WHERE purchase.user_id IS NULL;

# Scenario-6: Retrieve all products sorted by their price in descending order.

In [ ]:
products = products.objects.filter(ordered_by = '-price')

In [ ]:
products_desc = Product.objects.order_by('-price')

    
    from django.db import models

class Product(models.Model):
    name = models.CharField(max_length=100)
    price = models.DecimalField(max_digits=10, decimal_places=2)
    
    # SQL
    SELECT * FROM myapp_product ORDER BY price DESC;

# Scenario-5: Calculate the total revenue generated from all purchases.

In [ ]:
total_rev = purchase.objects.aggregate(total_rev = models.Sum('amount'))['total_rev']

In [1]:

total_revenue = Purchase.objects.aggregate(total_revenue=models.Sum('amount'))['total_revenue']

# SQL
SELECT SUM(amount) AS total_revenue FROM myapp_purchase;

SyntaxError: invalid syntax (3552856846.py, line 4)

aggregate() is a terminal clause for a QuerySet that, ***when invoked, returns a dictionary of name-value pairs**. The name is an identifier for the aggregate value; the value is the computed aggregate. The name is automatically generated from the name of the field and the aggregate function. If you want to manually specify a name for the aggregate value, you can do so by providing that name when you specify the aggregate clause:

# Scenario-4: Retrieve all users with a specific role (e.g., "admin").

In [ ]:
all_user = Users.objects.filter(role = 'admin')

# Scenario-3: Retrieve the details of the latest purchase made by a specific user.

In [ ]:

latest_purchase = purchase.objects.filter(user_name = 'ram').latest('date')

or
User_id = 1
latest_purchase = Purchase.objects.filter(user_id = User_id ) .latest('timestamp')

In [ ]:
# find emp_name who draws maximum salary ( 1st wright the inner Q, then outer Q)
 select emp_name from emp 
    where salary = select max(salary) from emp;

In [ ]:
# 2nd highest salary
 select max(salary) from emp where salary <>  select max(salary) from emp;
    
# emp_name who draws 2nd highest salary  (sub query)
select emp_name from emp where salary =
(select max(salary) from emp where salary <> select max(salary) from emp);

# useing limit

**select salary from emp order_by salary Desc limit (n-1),1;**  n= 1

diff btwn "= & in "
= when compare with one value
in compare with multiple value
 2 = 2 True
 2 = [1,2,3,4,5]  (it means if 2 is in the list or not)

In [ ]:
-- Create Employees table
CREATE TABLE employees (
    employee_id INT PRIMARY KEY,
    first_name VARCHAR(50),
    last_name VARCHAR(50),
    department_id INT
);

-- Create Departments table with Foreign Key
CREATE TABLE departments (
    department_id INT PRIMARY KEY,
    department_name VARCHAR(50),
    manager_id INT,
    CONSTRAINT fk_department_employee FOREIGN KEY (manager_id) REFERENCES employees(employee_id)
);

-- Insert sample data into Employees table
INSERT INTO employees (employee_id, first_name, last_name, department_id) VALUES
(1, 'John', 'Doe', 101),
(2, 'Jane', 'Smith', 102),
(3, 'Alice', 'Johnson', 101),
(4, 'Bob', 'Williams', 103),
(5, 'Emily', 'Brown', 102);

-- Insert sample data into Departments table
INSERT INTO departments (department_id, department_name, manager_id) VALUES
(101, 'Engineering', 1),
(102, 'Marketing', 5),
(103, 'Finance', 4);

-- Perform INNER JOIN
SELECT employees.employee_id, employees.first_name, employees.last_name, departments.department_name
FROM employees
INNER JOIN departments ON employees.department_id = departments.department_id;

-- Perform LEFT JOIN
SELECT employees.employee_id, employees.first_name, employees.last_name, departments.department_name
FROM employees
LEFT JOIN departments ON employees.department_id = departments.department_id;

-- Perform RIGHT JOIN
SELECT employees.employee_id, employees.first_name, employees.last_name, departments.department_name
FROM employees
RIGHT JOIN departments ON employees.department_id = departments.department_id;

-- Perform FULL OUTER JOIN (supported by some databases)
SELECT employees.employee_id, employees.first_name, employees.last_name, departments.department_name
FROM employees
FULL OUTER JOIN departments ON employees.department_id = departments.department_id;

In [ ]:
-- DISTINCT
SELECT DISTINCT department_id FROM employees;

-- LIKE Operator
SELECT * FROM employees WHERE first_name LIKE 'J%';

-- BETWEEN Operator
SELECT * FROM employees WHERE salary BETWEEN 50000 AND 80000;

-- IN Operator
SELECT * FROM employees WHERE department_id IN (1, 2, 3);

-- NOT Operator
SELECT * FROM employees WHERE department_id NOT IN (4, 5);

-- COUNT Function
SELECT COUNT(*) FROM employees;

-- MAX and MIN Functions
SELECT MAX(salary) AS max_salary, MIN(salary) AS min_salary FROM employees;

-- AVG Function
SELECT AVG(salary) AS avg_salary FROM employees;

-- SUM Function
SELECT SUM(salary) AS total_salary FROM employees;

-- GROUP BY with HAVING
SELECT department_id, COUNT(*) as employee_count
FROM employees
GROUP BY department_id
HAVING COUNT(*) > 10;

In [ ]:
import pandas as pd

# Sample data
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    'Age': [24, 30, 22, 35, 28],
    'City': ['New York', 'Los Angeles', 'Chicago', 'Houston', 'Phoenix'],
    'Salary': [70000, 80000, 65000, 85000, 78000]
}

# Create DataFrame
df = pd.DataFrame(data)

# Display the DataFrame
print(df)

In [25]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

# Send a GET request to the Amazon Gold Box Deals page
url = "https://www.amazon.com/gp/goldbox?ref_=nav_cs_gb&deals-widget=%257B%2522version%2522%253A1%252C%2522viewIndex%2522%253A0%252C%2522presetId%2522%253A%2522F954F5F1FE84B4B875042F730CEE0354%2522%252C%2522departments%2522%253A%255B%2522172282%2522%255D%252C%2522sorting%2522%253A%2522FEATURED%2522%257D"
response = requests.get(url)

# Parse the HTML content
soup = BeautifulSoup(response.content, "html.parser")

# Find all deal items
deal_items = soup.find_all("div", class_="a-section a-spacing-medium")

# Create lists to store item details
titles = []
prices = []
discounts = []

# Loop through the deal items and extract title, price, and discount
for item in deal_items:
    title = item.find("span", class_="a-text-bold").get_text().strip()
    price = item.find("span", class_="a-offscreen").get_text().strip()
    discount_tag = item.find("span", class_="a-badge-supplementary-text")
    discount = discount_tag.get_text().strip() if discount_tag else "0%"
    
    # Convert discount percentage to numeric value
    discount_value = int(discount.strip('%').replace('+', '').replace('-', ''))

    # Check if discount is 20% or more
    if discount_value >= 20:
        titles.append(title)
        prices.append(price)
        discounts.append(discount)

# Create a DataFrame from the extracted data
data = {
    'Title': titles,
    'Price': prices,
    'Discount': discounts
}
df = pd.DataFrame(data)

# Display the DataFrame
print(df)

Empty DataFrame
Columns: [Title, Price, Discount]
Index: []